__pycache__/
*.git
*.so
logs/
.idea/
0*.py
test/
tests/
.vscode/
views.bak.py
rokect_products.py
crawl_test.py
*.sh
*.png
*.jpg
*.xmind
test_*
user_agents.txt
domain.txt
test_search.py
run_test_niche_spy.py
*.log
sellercenter/
ae_login.py
jupyter*
.ipynb_checkpoints/
note.md
sync_rank.py
Untitled.ipynb
*.html
.google-cookie
settings.toml